<li class="microhoop<%= microhoop.urgent ? ' urgent' : '' %>" id="microhoop-<%= microhoop.id %>">
  <div class="avatar-container"><%= user.avatar %></div>
  <h3><%= user.name %></h3>
  <p><%= microhoop.content %></p>
</li>
