<li class="microhoop<%= microhoop.urgent ? ' urgent' : '' %>" id="microhoop-<%= microhoop.id %>">
  <div class="microhoop-infos">
    <div class="microhoop-avatar">
      <%= user.avatar %>
    </div>
    <span class="micrhoop-username"><%= user.name %></span>
    <div class="microhoop-icon-urgent">Urgent microhoop</div>
  </div>

  <div class="microhoop-content">
    <%= microhoop.content %>
  </div>

  <div class="microhoop-date">
    <em>1 hour ago</em>
  </div>

</li>
