<li class="microhoop<%= microhoop.urgent ? ' urgent' : '' %>" id="microhoop-<%= microhoop.id %>">

  <div class="feedInfos">

    <div class="feedAvatar">
      <%= user.avatar %>
    </div>
    <span class="feedUsername"><%= user.name %></span>
    <div class="feedIconUrgent">Urgent microhoop</div>

  </div>

  <div class="feedContent"><%= microhoop.content %></div>

  <div class="feedDate">
    <i>1 hour ago</i>
  </div>

</li>
