<li class="microhoop<%= microhoop.urgent ? ' urgent' : '' %>" id="microhoop-<%= microhoop.id %>">
  <div class="microhoop-infos">
    <div class="microhoop-avatar">
      <%= user.avatar %>
    </div>
    <span class="microhoop-username"><%= user.name %></span>
    <div class="microhoop-urgent">
      This microhoop is urgent !
    </div>
  </div>

  <div class="microhoop-content">
    <%= microhoop.content %>
  </div>

  <div class="microhoop-date">
    <em><%= time_ago_in_words(microhoop.created_at) %></em>
  </div>

</li>
