<% present @feed, presenters: [:user, :feed] do |presenter| %>
  <div id="sidebar-left" class="span4 sidebar">
    <a href="<%= presenter.current_user_profile_link  %>">
      <%= presenter.name %>
      <div class="avatar image-placeholder">
        <%= presenter.avatar(:huge) %>
      </div> <!-- .avatar -->
    </a>
    <div id="filters">
      <h3>Filters</h3>
      <%= presenter.filters %>
    </div>
  <div id="list-users">
    <h3>User list</h3>
    <%= presenter.list_all_users %>
  </div>
  </div>
  <div id="feed-content" class="span8">
    <div class="tabs">
      <%= presenter.feed_type %>
    </div>
    <div id="add-microhoop-form" class="post-microhoop">
      <h3>Post a microhoop</h3>
      <%= presenter.add_microhoop_form %>
    </div>
    <div id="microhoops-list">
      <h3><%= presenter.feed_title %></h3>
      <%= presenter.feed_content %>
    </div>
  </div>
 <% end %>
