<% present @feed, presenters: [:user, :feed] do |presenter| %>
  <div id="sidebar-left" class="span4 sidebar">
    <div class="avatar">
      <%= presenter.avatar %>
    </div> <!-- .avatar -->
    <div id="filters">
      <h2>Filters</h2>
      <%= presenter.filters %>
    </div>
  <div id="list-users">
    <%= presenter.list_all_users %>
  </div>
  </div>
  <div id="feed-content" class="span8">
    <div class="tabs">
      <%= presenter.feed_type %>
    </div>
    <div id="add-microhoop-form" class="post-microhoop">
      <h3>Post a microhoop</h3>
      <%= presenter.add_microhoop_form %>
    </div>
    <div id="microhoops-list">
      <h2><%= presenter.feed_title %></h2>
      <%= presenter.feed_content %>
    </div>
  </div>
 <% end %>
