<% present @user, presenters: [:user, :profile] do |presenter| %>
<div id="sidebar-left" class="span4 profile sidebar">
  <%= link_to 'My documents', presenter.user_documents_path, id: 'my-documents', class: "btn btn-cohoop" %>
  <div id="avatar-profile" class="avatar">
    <%= presenter.manage_avatar %>
  </div> <!-- .avatar -->
  <div>
    <h3>My learning community</h3>
  </div>
  <div id="followers">
    <h4>Followers</h4>
    <%= presenter.followers_list %>
  </div>
  <div id="followed-users">
    <h4>Following</h4>
    <%= presenter.followed_users_list %>
  </div>
</div>

<div id="main-content" class="span8">
  <h2><%= presenter.name %></h2>
  <div id="follow-button-<%= presenter.id  %>" class="follow-button">
    <%= presenter.follow_button %>
  </div>
  <div id="form-personnal-informations" class="form-horizontal">
    <legend>Profile informations</legend>
    <div class="control-group">
      <label class="control-label" for="university">University</label>
      <div class="controls">
        <%= presenter.university %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="job">Job</label>
      <div class="controls">
        <%= presenter.job %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="job">Biography</label>
      <div class="controls">
        <%= presenter.biography %>
      </div>
    </div>
  </div>

  <div id="tags">
    <div id="main-tags">
      <h2>I'm studying&#133;</h2>
      <%= presenter.add_main_tags %>
      <%= presenter.main_tags %>
    </div>
    <div id="secondary-tags">
      <h2>Other interests</h2>
      <%= presenter.add_secondary_tags %>
      <%= presenter.secondary_tags %>
    </div>
  </div>
</div>
<% end %>
