<div id="topContent">
  <h2 class="punchline">The first student-driven, collaborative learning network</h2>
  <div id="sequence">
    <ul>
      <li id="s_one">
        <h3 class="title sentence1">CoHoop helps you learn with a community</h3>
      </li>
      <li id="s_two">
        <h3 class="title sentence2">Connect with peers over shared interests and passions</h3>
      </li>
      <li id="s_three">
        <h3 class="title sentence3">Collaborate on community-driven documents</h3>
      </li>
      <li id="s_four">
        <h3 class="title sentence4">Get real-time help from peers</h3>
      </li>
      <li id="s_five">
        <h3 class="title sentence5">Expand your skills</h3>
      </li>
      <li id="s_six">
        <h3 class="title sentence6">Infinite learning possibilities</h3>
      </li>
    </ul>
  </div>
</div>
<div id="mainContent" class="clearfix">
  <div id="video">
    <iframe width="486" height="273" src="http://www.youtube.com/embed/FKkgQsnkfJA?rel=0" frameborder="0" allowfullscreen></iframe>
    <!--<img src="img/video-what-is-cohoop.jpg" alt="Watch video" />-->
  </div>
  <div id="newsletter">
    <%= form_for(@mail, url: mailslist_create_path, remote: true) do |f| %>
      <fieldset>
        <h2>Launching soon. Get the CoHoop news</h2>
        <div class="advancedInput">
          <div class="input">
            <%= f.label :mail, class: 'mail_label' %>
            <%= f.email_field :mail, placeholder: '(required)', class: 'mail_input newsletterTextfield', required: true %>
          </div>
        </div>
        <div class="advancedInput">
          <div class="input">
            <%= f.label :university, 'Your university', class: 'university_label' %>
            <%= f.text_field :university, placeholder: '(optional)', class: 'university_input newsletterTextfield' %>
          </div>
        </div>
        <%= f.submit "Let's go", id: 'add-mail' %>
      </fieldset>
    <% end %>

    <div class="social-buttons">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style" style="margin-left: 15px;">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fcohoop&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=401758193218454" scrolling="no" frameborder="0" style="float: left; border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="@CoHoop beta is coming soon ! Get update by subscribing to CoHoop's newsletter !" data-dnt="true">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <!--<a class="addthis_button_pinterest_pinit"></a>-->
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</div>
